:root {
  --color-base-bg: #e2e8f0;
  --color-base-text: rgb(18, 18, 18);
  --theme-name: "light";
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #e2e8f0;
}

img {
  width: 25px;
}


  .content {
    grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ".project 1 .project 4"
  ".project 2 .project 5"
  ".project 3 .project 6";

  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }


  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas:
    "sidebar header header"
    "sidebar content1 content2"
    "sidebar content1 content3";
    background-color: #fff;
    color: #444;
  }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
  color: white;
  display: inline-grid;
  gap: 5px;
  padding: 20px;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: repeat(12, 1fr);
  width: auto;
  }
.header{
  background-color: #999;
}